<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Seller</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>

  <body>
    <nav class="flex justify-center gap-10 text-xl font-bold bg-zinc-800 text-white h-full w-full p-6">
      <a href="/" class="p-2 hover:text-cyan-200">Home</a>
      <a href="/contact" class="p-2 hover:text-cyan-200">Contact</a>
    </nav>
    
    <div class="flex flex-col justify-center items-center text-center p-10 bg-gradient-to-r from-[#1e1f26] to-[#2c2f3f] text-stone-300">
      <div class="w-max">
        <h1 class="text-5xl font-bold bg-gradient-to-r from-[#00ff99] to-[#00ccff] bg-clip-text text-transparent">Seller Portal</h1>
        <p class="text-xl text-stone-300 p-7">List and manage your produce. Track inventory and performance.</p>
      </div>

      <div class="flex justify-around gap-10 m-10">
        <div class="bg-zinc-900 p-10 w-80 border-2 rounded-lg border-blue-400"><h2 class="text-4xl font-bold" id="total-items"><%= count %></h2><p class="text-2xl mt-5">Total Listings</p></div>
        <div class="bg-zinc-900 p-10 w-80 border-2 rounded-lg border-blue-400"><h2 class="text-4xl font-bold" id="total-quantity"><%= totalQuantity %></h2><p class="text-2xl mt-5">Total Quantity (kg)</p></div>
        <div class="bg-zinc-900 p-10 w-80 border-2 rounded-lg border-blue-400"><h2 class="text-4xl font-bold" id="total-value">Rs. <%= totalPrice %></h2><p class="text-2xl mt-5">Total Market Value</p></div>
      </div>

      <div class="flex justify-center gap-5 center m-5 p-10 bg-zinc-800 rounded-2xl">
          <form id="produce-form" class="flex justify-between gap-10" action="/seller" method="POST">
            <input type="text" name="productname" placeholder="Produce Name" class="h-5 w-55 text-white border-gray-400 border-2 border-solid rounded-lg delay-50 p-5 placeholder:font-medium" required />
              <select name="category" class="h-10 w-55 text-stone-400 bg-zinc-800 border-2 border-solid border-gray-400 pl-3 rounded-lg font-medium" required>
              <option value="">Select Category</option>
              <option value="Fruit">Fruit</option>
              <option value="Vegetable">Vegetable</option>
              <option value="Herb">Herb</option>
              <option value="Grain">Grain</option>
            </select>
            <input type="number" name="quantity" placeholder="Quantity (kg)" class="h-5 w-55 text-white border-gray-400 border-2 border-solid rounded-lg delay-50 p-5 placeholder:font-medium" required />
            <input type="number" name="price" placeholder="Price (Rs./kg)" class="h-5 w-55 text-white border-gray-400 border-2 border-solid rounded-lg delay-50 p-5 placeholder:font-medium" required />
            <button class="text-base cursor-pointer text-zinc-700 bg-stone-300 font-bold w-30 h-10 rounded-lg shadow-md transition duration-300 hover:bg-stone-600 hover:text-white" type="submit">Add Listing</button>
          </form>
      </div>

      <div>
        <table class="w-310 divide-y divide-gray-200 rounded-xl overflow-hidden shadow-md">
          <thead class="bg-zinc-800">
            <tr>
              <th class="px-6 py-3 text-left text-base font-semibold text-stone-300">Product</th>
              <th class="px-6 py-3 text-left text-base font-semibold text-stone-300">Category</th>
              <th class="px-6 py-3 text-left text-base font-semibold text-stone-300">Quantity</th>
              <th class="px-6 py-3 text-left text-base font-semibold text-stone-300">Price</th>
              <th class="px-6 py-3 text-left text-base font-semibold text-stone-300">Action</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach(item => { %>
              <tr class="hover:bg-zinc-600 transition">
                <td class="text-sm text-stone-300"><%= item.productname %></td>
                <td class="py-4 text-sm text-stone-300"><%= item.category %></td>
                <td class="py-4 text-sm text-stone-300"><%= item.quantity %></td>
                <td class="py-4 text-sm text-stone-300"><%= item.price %></td>
                <td class="px-4 py-2">
                  <form action="/delete/<%= item._id %>" action="/seller" method="POST" onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="border-2 rounded-lg cursor-pointer hover:bg-red-600 text-white px-3 py-1">
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>